@charset "UTF-8";
@import url(//db.onlinewebfonts.com/c/62e84f8271d32eb452129a0b7d59540d?family=Antipasto);
@font-face {
  font-family: "Antipasto";
  src: url("//db.onlinewebfonts.com/t/62e84f8271d32eb452129a0b7d59540d.eot");
  src: url("//db.onlinewebfonts.com/t/62e84f8271d32eb452129a0b7d59540d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/62e84f8271d32eb452129a0b7d59540d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/62e84f8271d32eb452129a0b7d59540d.woff") format("woff"), url("//db.onlinewebfonts.com/t/62e84f8271d32eb452129a0b7d59540d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/62e84f8271d32eb452129a0b7d59540d.svg#Antipasto") format("svg");
}


h1, h2, h3, h4, h5, p {
  font-family: "Antipasto" !important;
}

section {
  padding: 7em 0;
}

#particles-js {
  position: absolute;
  top: 50em;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#mainNav {
  background-color: #5F227F;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  color: #fafafa;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Antipasto" !important;
  font-size: 100%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #fff;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #fafafa;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fafafa;
}

#mainNav .bar-image {
  width: 155px;
  margin-top: 0px;
}

.masterhead {
  height: 100vh;
  min-height: 500px;
  background-image: url("/img/shape-home3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.masterhead h2 {
  font-weight: 400;
  font-size: 4.4em;
  line-height: 1.1em;
}

.masterhead .img-home {
  vertical-align: middle;
  display: inline-block;
  width: 934px;
  height: 660px;
}

.titulo {
  color: #214571;
  font-weight: 700;
  font-size: 2.7em;
  line-height: 1.1em;
  font-family: "antipastoextrabold", sans-serif;
}

.titulo2 {
  color: #214571;
  font-weight: 700;
  font-size: 2.1em;
  line-height: 1em;
}

.titulo3 {
  color: #214571;
  font-weight: 400;
  font-size: 2.7em;
  line-height: 1.1em;
}

.titulo4 {
  color: #25b4cd;
  font-weight: 400;
  font-size: 2.7em;
}

.subtitulo {
  color: #23A1C0;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: .5rem;
}

.contenido {
  padding: 1.8em 0;
}

.contenido p {
  color: #737789;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.5em;
}

.nosotros {
  background-image: url("/img/bg-sblog-home2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos Carrusel Clientes */
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  /*background: #fff;*/
  background: #20436f;
  background: linear-gradient(63deg, #20436f 0%, #207a9f 49%, #24b7d0 100%);
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto 80px;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.blog-slider__img {
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #24b7d0 0%, #20436f 74%);
  -webkit-box-shadow: 4px 13px 30px 1px rgba(6, 6, 6, 0.1);
          box-shadow: 4px 13px 30px 1px rgba(6, 6, 6, 0.1);
  border-radius: 20px;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(147deg, #24b7d0 0%, #20436f 74%);
    background: rgb(32,67,111);*/
  background: linear-gradient(63deg, rgba(32, 67, 111, 0.1) 0%, rgba(32, 122, 159, 0.1) 49%, rgba(36, 183, 208, 0.1) 100%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .blog-slider__img {
    width: 90%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__content > * {
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.blog-slider__code {
  color: #fcfcfc;
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
  font-family: "Antipasto" !important;
}

.blog-slider__title {
  font-size: 1.7em;
  font-weight: 700;
  color: #fafafa;
  margin-bottom: 10px;
  font-family: "Antipasto" !important;
}

.blog-slider__text {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.3em;
  text-align: justify;
  padding-right: .6em;
  font-family: "Antipasto" !important;
}

.blog-slider__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
          box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0 !important;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px !important;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fafafa;
  height: 30px;
  -webkit-box-shadow: 0px 0px 20px rgba(32, 67, 111, 0.3);
          box-shadow: 0px 0px 20px rgba(32, 67, 111, 0.3);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

.rounded-ct {
  border-radius: 15px;
}

.card-height {
  height: 330px;
}

.card-height .icon-main {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #207a9f;
  background-image: linear-gradient(145deg, #20436f, #24b7d0);
  box-shadow: 8px 8px 30px 0 rgba(1, 96, 231, 0.3);
  -webkit-box-shadow: 8px 8px 30px 0 rgba(1, 96, 231, 0.3);
  -moz-box-shadow: 8px 8px 30px 0 rgba(1, 96, 231, 0.3);
}

.card-height p {
  margin-bottom: .3rem;
}

/*----------------------------------
  Background Home
------------------------------------*/
.hero {
  position: relative;
}

.hero h2 {
  font-weight: 400;
  font-size: 4.4em;
  line-height: 1.1em;
}

.hero .img-home {
  vertical-align: middle;
  display: inline-block;
  width: 934px;
  height: 660px;
}

.hero .img-hero {
  -webkit-transform: translate3d(0px, -39.1902px, 0px);
          transform: translate3d(0px, -39.1902px, 0px);
}

.hero .background {
  background-color: #22416d;
  position: absolute;
  overflow: hidden;
}

.hero .background2 {
  position: absolute;
  background: radial-gradient(circle at 0 0, #22B6D2 0, rgba(40, 178, 206, 0.92) 10%, rgba(40, 178, 206, 0) 100%);
}

.hero .background2 .bgcut:first-child {
  right: 0;
  bottom: -3px;
}

.hero .tr-home {
  padding-right: 1.2em;
}

.hero .btn-home {
  margin-top: 4em;
  background: #3f1d6b;
  background: -webkit-gradient(linear, left top, right top, from(#3f1d6b), to(#8e2895));
  background: linear-gradient(90deg, #3f1d6b 0%, #8e2895 100%);
  border-color: transparent;
  border-radius: 0px;
  font-family: "Antipasto";
  font-size: 1.3rem;
  line-height: 1.2;
}

.hero .background, .hero .background2 {
  width: 2000px;
  height: 1000px;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%) rotate(-10deg);
  transform: translate(-50%, -20%) rotate(-10deg);
}

@media (min-width: 1400px) {
  .section .background, .section .background2 {
    width: 125%;
  }
}

/*----------------------------------
  Background Servicios
------------------------------------*/
.features {
  position: relative;
  padding-top: 160px;
}

.features ul {
  list-style: none;
  padding-left: .3em;
}

.features ul li {
  font-family: "Antipasto";
  font-size: 1.2em;
  line-height: 1.5em;
}

.features .background {
  background-color: #3f1d6b;
  position: absolute;
  overflow: hidden;
}

.features .background2 {
  position: absolute;
  background: radial-gradient(circle at 0 0, #7B2381 0, rgba(123, 35, 129, 0.92) 10%, rgba(123, 35, 129, 0) 100%);
}

.features .background2 .bgcut:first-child {
  left: 0;
  top: -3px;
}

.features .background2 .bgcut:last-child {
  right: 0;
  bottom: -3px;
}

.features p {
  margin-bottom: .4rem;
}

.features .background, .features .background2 {
  width: 2100px;
  height: 1300px;
  top: 0;
  left: 56%;
  -webkit-transform: translate(-50%, 0) rotate(-10deg);
  transform: translate(-50%, 0) rotate(-10deg);
}

@media (min-width: 1400px) {
  .section .background, .section .background2 {
    width: 125%;
  }
}

#clientes {
  padding-bottom: 7em;
}

.features-2 ul {
  list-style: none;
  padding-left: .3em;
}

.features-2 ul li {
  font-family: "Antipasto";
  font-size: 1.2em;
  line-height: 1.5em;
}


.logros {
  padding: 5em 0;
}

/*----------------------------------
  Background Contacto
------------------------------------*/
.contacto {
  position: relative;
  padding-top: 160px;
}

.contacto .background {
  -webkit-transform: translate(-50%, 0) rotate(-10deg);
          transform: translate(-50%, 0) rotate(-10deg);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #edf9fb), color-stop(75%, #fff));
  background: linear-gradient(#edf9fb 0, #fff 75%);
  position: absolute;
  overflow: hidden;
}

.contacto .background2 {
  position: absolute;
  background: #20436f;
  background: linear-gradient(54deg, #20436f 0%, #24b7d0 100%);
}

.contacto .background2 .bgcut:first-child {
  left: 0;
  top: -3px;
}

.contacto .background, .contacto .background2 {
  width: 2100px;
  height: 1140px;
  top: 0;
  left: 56%;
  -webkit-transform: translate(-50%, 0) rotate(-10deg);
  transform: translate(-50%, 0) rotate(-10deg);
}

@media (min-width: 1400px) {
  .section .background, .section .background2 {
    width: 125%;
  }
}

.bgcut {
  width: 40%;
  height: 80px;
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
  background: #fff;
  z-index: 100;
  position: absolute;
}

/** Formulario de Contacto **/
.btn-xl {
  padding: 1rem 3.25rem;
  font-size: 1.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #20436f;
  border-color: #20436f;
}

.btn-primary:hover {
  color: #fff;
  background-color: #24b7d0;
  border-color: #24b7d0;
  -webkit-transition: background 0.5s 0s ease-in;
  transition: background 0.5s 0s ease-in;
}

.floating-label-form-group {
  position: relative;
  border-bottom: 2px solid #20436f;
}

.floating-label-form-group input, .floating-label-form-group textarea {
  font-size: 1em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #1abc9c;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

/*----------------------------------
  Contacto Nueva versión
------------------------------------*/
.contact {
  position: relative;
  padding-top: 5px;
}

.contact .background {
  background: #3f1d6b;
  background: -webkit-gradient(linear, left top, right top, from(#3f1d6b), to(#8e2895));
  background: linear-gradient(90deg, #3f1d6b 0%, #8e2895 100%);
  position: absolute;
}

.contact .background .bgcut:first-child {
  right: 0;
  top: -3px;
}

.contact .background2 {
  position: absolute;
  background: radial-gradient(circle at 0 0, #7B2381 0, rgba(123, 35, 129, 0.92) 10%, rgba(123, 35, 129, 0) 100%);
}

.contact .background2 .bgcut:first-child {
  right: 0;
  top: -3px;
}

.contact .background2 .bgcut:last-child {
  right: 0;
  bottom: -3px;
}

.contact .bgcut {
  width: 50%;
  height: 80px;
  -webkit-transform: skewX(30deg);
  transform: skewX(30deg);
  background: #fff;
  z-index: 100;
  position: absolute;
}

.contact .titulo3 {
  font-size: 3.3em;
}

.contact label {
  color: #fff;
  font-family: "Antipasto";
}

.contact .form-control {
  font-family: "Antipasto";
  color: #7a7a7a;
  font-size: 1.3rem;
  border-radius: 0px;
}

.contact .btn-send {
  padding: .6rem 7.25rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #24b7d0;
  border-color: #24b7d0;
  font-family: "Antipasto";
  border-radius: 0px;
}

.contact .btn-send :hover {
  color: #fff;
  background-color: #20436f !important;
  border-color: #20436f !important;
}

.contact h2 {
  margin-bottom: .1em;
}

.contact .text-sub {
  color: #808080;
  font-size: 2.8em;
}

.contact .background, .contact .background2 {
  margin-top: 250px;
  width: 2100px;
  height: 1600px;
  top: 0;
  left: 56%;
  -webkit-transform: translate(-50%, 0) rotate(10deg);
  transform: translate(-50%, 0) rotate(10deg);
}

footer {
  background: #22416d;
  background: -webkit-gradient(linear, left top, right top, from(#22416d), to(#28b2ce));
  background: linear-gradient(90deg, #22416d 0%, #28b2ce 100%);
  position: absolute;
  width: 100%;
  color: #fafafa;
}

footer p, footer a {
  color: #fafafa;
}

.cuerpo-modal {
  padding-top: 17.7em;
  background: url("/img/fondo_contacto_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Antipasto";
  color: #fafafa;
}

.cerrar_modal {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
}

/** Media Queries **/
/* Esta es para el efecto del menú transparente*/
@media (min-width: 992px) {
  #mainNav {
    border: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav .navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav .navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #5F227F;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #FAFAFA;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #FAFAFA;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
  .planes .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    -webkit-box-shadow: 0 0.5rem 1 rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.5rem 1 rem 0 rgba(0, 0, 0, 0.3);
  }
  .planes .card:hover .btn {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .hero .img-hero {
    padding-top: 4.1em;
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
  }
  .features .background, .features .background2 {
    width: 2100px;
    height: 1700px;
    top: 0;
    left: 56%;
    -webkit-transform: translate(-50%, 0) rotate(-10deg);
    transform: translate(-50%, 0) rotate(-10deg);
  }
  .contact .background, .contact .background2 {
    margin-top: 600px;
    height: 2000px;
  }
  .modal-row {
    padding-top: 10em;
  }
}

@media (max-width: 480px) {
  .hero h2 {
    padding: .4em 0 0 .2em;
  }
  .hero .img-hero {
    padding-top: 4.1em;
    width: 340px;
    height: auto;
    display: block;
    margin: auto;
  }
  .features .background, .features .background2 {
    width: 2100px;
    height: 1600px;
    top: 0;
    left: 56%;
    -webkit-transform: translate(-50%, 0) rotate(-10deg);
    transform: translate(-50%, 0) rotate(-10deg);
  }
  #slogan {
    padding-top: 6.4em;
  }
  .eleccion {
    padding: 3em 0;
  }
  .contact h3 {
    font-size: 1.6em;
    font-weight: 500;
  }
  .contact .background, .contact .background2 {
    margin-top: 500px;
    height: 2000px;
  }
}
/*# sourceMappingURL=style.css.map */